# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/
.venv.bak/
env.bak/

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
