# Ignore virtual environments
venv/
ENV/
env/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode settings
.vscode/

# Ignore Streamlit temporary files
.streamlit/

# Ignore Jupyter Notebook checkpoints (if you ever use them)
.ipynb_checkpoints/

# Ignore large audio/model files
*.wav
*.mp3
*.pth
*.pt
