streamlit
numpy<2
librosa
matplotlib
seaborn
pandas
nltk
spacy==3.7.2
pydub
openai-whisper
torch==2.2.0
scikit-learn
ipython
ffmpeg-python
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
